.page.code-of-conduct .content {
  margin: 2rem var(--container-margin);
  padding-left: 0;
  padding-right: 0;

  p {
    margin-left: var(--space-4);
    text-align: justify;

    &::first-letter {
      margin-left: var(--space-4);
    }
  }

  ul {
    margin-left: 2rem;

    li {
      line-height: 1.25;
    }
  }
}
