<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default " en" }}">
{{ partial "head.html" . }}

<body class="{{ .Kind }} {{ anchorize .URL }} {{ .Section }}">

{{ block "header" . }}
	{{ partial "header.html" . }}
{{ end }}

<main>
	{{ block "main" . }}
	{{ end }}
</main>

{{ block "footer.html" . }}
	{{ partial "footer.html" . }}
{{ end }}


{{ $base := resources.Get "script/base.js" }}
{{ $subscription := resources.Get "script/subscription.js" }}
{{ $shuffle := resources.Get "script/shuffle.js" }}
{{ $map := resources.Get "script/good-map.js" }}

{{ $js := slice $base $subscription $shuffle $map | resources.Concat "script/main.js" }}
<script src="{{ $js.Permalink }}"></script>
{{ block "scripts" . }}
<!-- No extra scripts -->
{{ end }}
</body>

</html>
